#Group A
#Assignment No 3

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns

In [ ]:
df= sns.load_dataset('tips')

In [ ]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [ ]:
df.shape

(244, 7)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [ ]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [ ]:
df.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [ ]:
df['smoker'].value_counts()

No     151
Yes     93
Name: smoker, dtype: int64

In [ ]:
df['tip'].value_counts()

2.00    33
3.00    23
4.00    12
5.00    10
2.50    10
        ..
4.34     1
1.56     1
5.20     1
2.60     1
1.75     1
Name: tip, Length: 123, dtype: int64

In [ ]:
df['smoker'].value_counts()

No     151
Yes     93
Name: smoker, dtype: int64

In [ ]:
df.groupby('smoker').describe()

       total_bill                                                           \
            count       mean       std   min     25%    50%     75%    max
smoker
Yes          93.0  20.756344  9.832154  3.07  13.420  17.92  26.860  50.81
No          151.0  19.188278  8.255582  7.25  13.325  17.59  22.755  48.33

          tip            ...                size                           \
        count      mean  ...    75%   max  count      mean       std  min
smoker                   ...
Yes      93.0  3.008710  ...  3.680  10.0   93.0  2.408602  0.810751  1.0
No      151.0  2.991854  ...  3.505   9.0  151.0  2.668874  1.017984  1.0


        25%  50%  75%  max
smoker
Yes     2.0  2.0  3.0  5.0
No      2.0  2.0  3.0  6.0

[2 rows x 24 columns]

In [ ]:
df.groupby('smoker')[['total_bill','tip']].describe()

       total_bill                                                           \
            count       mean       std   min     25%    50%     75%    max
smoker
Yes          93.0  20.756344  9.832154  3.07  13.420  17.92  26.860  50.81
No          151.0  19.188278  8.255582  7.25  13.325  17.59  22.755  48.33

          tip
        count      mean       std  min  25%   50%    75%   max
smoker
Yes      93.0  3.008710  1.401468  1.0  2.0  3.00  3.680  10.0
No      151.0  2.991854  1.377190  1.0  2.0  2.74  3.505   9.0

In [ ]:
df['time'].value_counts()

Dinner    176
Lunch      68
Name: time, dtype: int64

In [ ]:
df.groupby('time')[['total_bill','tip']].describe()

       total_bill                                                              \
            count       mean       std   min      25%     50%      75%    max
time
Lunch        68.0  17.168676  7.713882  7.51  12.2350  15.965  19.5325  43.11
Dinner      176.0  20.797159  9.142029  3.07  14.4375  18.390  25.2825  50.81

          tip
        count      mean       std   min  25%   50%     75%   max
time
Lunch    68.0  2.728088  1.205345  1.25  2.0  2.25  3.2875   6.7
Dinner  176.0  3.102670  1.436243  1.00  2.0  3.00  3.6875  10.0

In [ ]:
df['sex'].value_counts()

Male      157
Female     87
Name: sex, dtype: int64

In [ ]:
df.groupby('sex')[['total_bill','tip']].describe()

       total_bill                                                         \
            count       mean       std   min    25%    50%    75%    max
sex
Male        157.0  20.744076  9.246469  7.25  14.00  18.35  24.71  50.81
Female       87.0  18.056897  8.009209  3.07  12.75  16.40  21.52  44.30

          tip
        count      mean       std  min  25%   50%   75%   max
sex
Male    157.0  3.089618  1.489102  1.0  2.0  3.00  3.76  10.0
Female   87.0  2.833448  1.159495  1.0  2.0  2.75  3.50   6.5

In [ ]:
df['day'].value_counts()

Sat     87
Sun     76
Thur    62
Fri     19
Name: day, dtype: int64

In [ ]:
df.groupby('day')[['total_bill','tip']].describe()

     total_bill                                                             \
          count       mean       std   min      25%    50%      75%    max
day
Thur       62.0  17.682742  7.886170  7.51  12.4425  16.20  20.1550  43.11
Fri        19.0  17.151579  8.302660  5.75  12.0950  15.38  21.7500  40.17
Sat        87.0  20.441379  9.480419  3.07  13.9050  18.24  24.7400  50.81
Sun        76.0  21.410000  8.832122  7.25  14.9875  19.63  25.5975  48.17

       tip
     count      mean       std   min     25%    50%     75%    max
day
Thur  62.0  2.771452  1.240223  1.25  2.0000  2.305  3.3625   6.70
Fri   19.0  2.734737  1.019577  1.00  1.9600  3.000  3.3650   4.73
Sat   87.0  2.993103  1.631014  1.00  2.0000  2.750  3.3700  10.00
Sun   76.0  3.255132  1.234880  1.01  2.0375  3.150  4.0000   6.50

In [ ]:
df['size'].value_counts()

2    156
3     38
4     37
5      5
1      4
6      4
Name: size, dtype: int64

In [ ]:
df.groupby('size')[['total_bill','tip']].describe()

     total_bill                                                               \
          count       mean       std    min      25%     50%      75%    max
size
1           4.0   7.242500  3.010729   3.07   6.2050   7.915   8.9525  10.07
2         156.0  16.448013  6.043729   5.75  12.4525  15.370  19.6900  40.55
3          38.0  23.277632  9.407065  10.33  16.9400  20.365  27.7750  50.81
4          37.0  28.613514  8.608603  16.49  21.5000  25.890  34.8100  48.33
5           5.0  30.068000  7.340396  20.69  28.1500  29.850  30.4600  41.19
6           4.0  34.830000  9.382000  27.05  29.1125  32.050  37.7675  48.17

        tip
      count      mean       std   min     25%    50%     75%    max
size
1       4.0  1.437500  0.506516  1.00  1.0000  1.415  1.8525   1.92
2     156.0  2.582308  0.985501  1.00  2.0000  2.500  3.1450   5.85
3      38.0  3.393158  1.557344  1.36  2.3575  3.290  3.6825  10.00
4      37.0  4.135405  1.640668  2.00  3.0000  3.760  5.0700   9.00
5       5.0  4.028000  1.440111  2.00  3.0000  5.000  5.0000   5.14
6       4.0  5.225000  1.053170  4.20  4.8000  5.000  5.4250   6.70

In [ ]:
df[df['day']=='Sun']['total_bill'].describe()

count    76.000000
mean     21.410000
std       8.832122
min       7.250000
25%      14.987500
50%      19.630000
75%      25.597500
max      48.170000
Name: total_bill, dtype: float64

#Question 2

In [ ]:
df1=sns.load_dataset('iris')

In [ ]:
df1.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [ ]:
df1.shape

(150, 5)

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [ ]:
df1.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [ ]:
df1.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [ ]:
df1['species'].value_counts()

setosa        50
versicolor    50
virginica     50
Name: species, dtype: int64

In [ ]:
df1.groupby('species')['sepal_length'].describe()

            count   mean       std  min    25%  50%  75%  max
species
setosa       50.0  5.006  0.352490  4.3  4.800  5.0  5.2  5.8
versicolor   50.0  5.936  0.516171  4.9  5.600  5.9  6.3  7.0
virginica    50.0  6.588  0.635880  4.9  6.225  6.5  6.9  7.9

In [ ]:
df1.groupby('species')['sepal_width'].describe()

            count   mean       std  min    25%  50%    75%  max
species
setosa       50.0  3.428  0.379064  2.3  3.200  3.4  3.675  4.4
versicolor   50.0  2.770  0.313798  2.0  2.525  2.8  3.000  3.4
virginica    50.0  2.974  0.322497  2.2  2.800  3.0  3.175  3.8

In [ ]:
df1.groupby('species')['petal_length'].describe()

            count   mean       std  min  25%   50%    75%  max
species
setosa       50.0  1.462  0.173664  1.0  1.4  1.50  1.575  1.9
versicolor   50.0  4.260  0.469911  3.0  4.0  4.35  4.600  5.1
virginica    50.0  5.552  0.551895  4.5  5.1  5.55  5.875  6.9

In [ ]:
df1.groupby('species')['petal_width'].describe()

            count   mean       std  min  25%  50%  75%  max
species
setosa       50.0  0.246  0.105386  0.1  0.2  0.2  0.3  0.6
versicolor   50.0  1.326  0.197753  1.0  1.2  1.3  1.5  1.8
virginica    50.0  2.026  0.274650  1.4  1.8  2.0  2.3  2.5

instead of using describe if we want single statistical information 
we can use min(),max(),mean(),meadian(),std(),count(),quantile(0.25)//quantile used for showing percentage